*{
    margin: 0px;
    padding: 0px;
}
.profile__nav{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}
.profile__nav__title{
    margin-left: 15px;
}
.profile__main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

}
.profile__pic{
    border-radius: 50%;
    border: 1px solid grey;
    height: 300px;
    width: 300px;
    background-color: grey;
    margin-bottom: 40px;
}
.profile__button{
    width: 100px;
    
    
}
.profile__content__button{
    display: flex;
  margin-right: 30px;
  margin-left: 200px;
}
.profile__contents{
    display: flex;
    justify-content: center;
    align-items: center;
}