.welcome__image{
    object-fit: cover;
    width: 100%;
    max-height: 500px;
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs__field{
    margin-bottom: 30px;
}
.input__field{
    height: 25px;
    border-top: none;
    border-left:none ;
    border-right: none;
    border-bottom-color: grey;
    width: 350px;
}
.input__field::placeholder{
    color: blue;
    font-size: 19px;
    margin-left: 3px;

}
.login{
    margin-top: 35px;
}
.login__button{
    width: 350px;
}
.forgotPassword{
    margin-top: 23px;
    margin-bottom: 40px;
}
.Border{
    
    border:1px solid grey;
    width: 100%;
}
.create__account{
    margin-top: 30px;
    border: 2px solid grey;
}
.input__errors{
    color: red;
    margin-top: 10px;
    font-size: 20px;
    
}
